extends layout

block content
	.w3-top
		.w3-bar.w3-black.w3-card(style="height:100%;")
			p.w3-bar-item.w3-padding-large(style="font-size:16px;") BRAGA STREET VIEW
			p
				a.w3-bar-item.w3-button.w3-padding-large(href="/ruas" ) HOME
			p
				a.w3-bar-item.w3-button.w3-padding-large(href="/") LOGIN
			p(style="display:flex;justify-content:flex-end;margin-right:30px;")
				a.w3-bar-item.w3-button.w3-padding-large(href="/logout") LOGOUT
				
	br

	.w3-card-4.w3-round(style='max-width:1564px; margin-top:100px; margin-left: 10%; margin-right: 10%;')
		
		
		header.w3-container
			h2.w3-center(style="font-weight: 600 !important;") Nova Rua
		form.w3-container.w3-center(method='POST' enctype="multipart/form-data" action="/ruas/edit/"+street._id)

			// hidden por causa do street id
			input(type='hidden' id='idRua' name='idRua' value=street._id)

			fieldset
				legend Nome da Rua
				input#nomeRua(type='w3-input w3-round' name='nome' value=street.nome)
				br
				br

			
			fieldset.w3-center
				legend Selecione imagens antigas da rua
				input.w3-input.w3-round(style="border:none; display:initial; width:auto;" type="file" name="antigas" multiple)

			fieldset.w3-center
				legend Selecione imagens atuais da rua
				input.w3-input.w3-round(style="border:none; display:initial; width:auto;" type="file" name="atuais" multiple)
				
			fieldset
				legend Atributos importantes a destacar da descrição
				style(type="text/css").
					table {
						border-collapse: collapse;
					}
					td {
						border-bottom: 1px solid #ddd;
						padding-bottom: 10px;
						padding-top: 10px;
						padding-left: 2px;
						padding-right: 2px;
					}
					.input-100 {
						width: 100px;
					}
				div(style='display:flex; justify-content:center;')
					div
						table#lugaresTabela(style="border-spacing: 10px;")
							thead
								th Descrição
								th Lugar
								th Tipo de Entidade
								th Entidade
								th Data
								th Delete
							tbody
								each item, index in street.para
									tr.row
										td
											input(type='text' name='descricao_lugar' value=item.text)
										td
											input(type='text' name='lugar' value=item.lugar.join(', '))
										td
											if Array.isArray(item.entidade) && item.entidade.length > 0
												select#tipo(name='tipo' style='width: 203px;')
													each entidade in item.entidade
														if entidade.tipo
															option(value=entidade.tipo) #{entidade.tipo}
											else
												select#tipo(name='tipo' style='width: 203px;')
													option(value='') Nenhuma Opção
										td
											if Array.isArray(item.entidade) && item.entidade.length > 0
												input(type='text' name='entidade' value=item.entidade[0].text)
											else
												input(type='text' name='entidade')
										td
											input(type='text' name='data' value=item.data.join(', '))
										td
											button.w3-btn.w3-round.w3-black.w3-mb-2(type='button', class='delete-btn', style="margin-right:10px;" onclick='deleteRow(event)') Delete
						button.w3-btn.w3-round.w3-black.w3-mb-2(style='margin:10px;' type='button' onclick='addRowLugar()') Adicionar mais atributos

			fieldset
				legend Casas da Rua
				style(type="text/css").
					table {
						border-collapse: collapse;
					}
					td {
						border-bottom: 1px solid #ddd;
						padding-bottom: 10px;
						padding-top: 10px;
						padding-left: 2px;
						padding-right: 2px;
					}
					.input-100 {
						width: 100px;
					}
				div(style='display:flex; justify-content:center;')
					div
						table#casasTabela(style="border-spacing: 10px;")
							thead
								th Descrição
								th Enfiteuta
								th Foro
								th Data
								th Número da Porta
								th Informação Adicional
								th Delete
							tbody
								each casa, index in street.listacasas
									tr.row
										td
											if casa.desc.para
												input.input-100(type='text' name='descricao' value=casa.desc.para.text style='width: 100px;')
											else
												input.input-100(type='text' name='descricao' style='width: 100px;')
										td
											input.input-100(type='text' name='enfiteuta' value=casa.enfiteuta style='width: 100px;')
										td
											input.input-100(type='text' name='foro' value=casa.foro style='width: 100px;')
										td
											if casa.desc.para && casa.desc.para.data
												input.input-100(type='text' name='data_casa' value=casa.desc.para.data.join(', ') style='width: 100px;')
											else
												input.input-100(type='text' name='data_casa' style='width: 100px;')
										td
											input.input-100(type='text' name='numero' value=casa.número style='width: 100px;')
										td
											if casa.desc && casa.desc.para
												if casa.desc.para.data
													input(type='text' name='data_casa' value=casa.desc.para.data.join(', ') placeholder='Datas')
												if casa.desc.para.lugar
													input(type='text' name='lugar_casa' value=casa.desc.para.lugar.join(', ') placeholder='Lugares')
												if casa.desc.para.entidade && casa.desc.para.entidade[0]
													input(type='text' name='entidade_casa' value=casa.desc.para.entidade[0].text placeholder='Entidades')
													input(type='text' name='tipo_entidade_casa' value=casa.desc.para.entidade[0].tipo placeholder='Tipos das Entidades')
												else
													input(type='text' name='entidade_casa' placeholder='Entidades')
													input(type='text' name='tipo_entidade_casa' placeholder='Tipos das Entidades')
											else
												input(type='text' name='data_casa' placeholder='Datas')
												input(type='text' name='lugar_casa' placeholder='Lugares')
												input(type='text' name='entidade_casa' placeholder='Entidades')
												input(type='text' name='tipo_entidade_casa' placeholder='Tipos das Entidades')
										td
											button.w3-btn.w3-round.w3-black.w3-mb-2(type='button', class='delete-btn', onclick='deleteRow(event)' ,style="margin-right:10px;") Delete
						button.w3-btn.w3-round.w3-black.w3-mb-2(style='margin:10px;' type='button' onclick='addRowCasa()') Adicionar Casa
			br
			button.w3-btn.w3-round.w3-black.w3-mb-2(type='submit' style='margin-bottom:10px;') Guardar
	
	br
	br

	footer.w3-center.w3-black.w3-padding-16.w3-container(style="margin-top: auto; width:100%;")
		a(href="/creditos") Créditos
		p ©2023 All Rights Reserved
