extends layoutrua

block content
	.modal(id="modaldesc")
	.w3-top
		.w3-bar.w3-black.w3-card(style="height:100%;")
			p.w3-bar-item.w3-padding-large(style="font-size:16px;") BRAGA STREET VIEW
			p
				a.w3-bar-item.w3-button.w3-padding-large(href="/ruas" ) HOME
			p
				a.w3-bar-item.w3-button.w3-padding-large(href="/login") LOGIN
			p(style="display:flex;justify-content:flex-end;margin-right:30px;")
				a.w3-bar-item.w3-padding-large Bem-vindo, #{user.name}! 
				img(style="border-radius: 50%;width:45px;height:45px;margin-left:10px;", src="/images/imagensdeperfil/"+user.myphoto)
				a.w3-bar-item.w3-button.w3-padding-large(href="/logout") LOGOUT
	
	header.w3-display-container.w3-content.w3-wide(style="height: 50px;", id="home")

	.w3-content.w3-padding(style="max-width:1564px")
		.w3-container.w3-padding-32.w3-border-bottom(id="rua" style="padding-bottom:0px !important; padding-left:0px !important; padding-right:0px !important; margin-bottom:24px; margin-left:16px; margin-right:16px; display:flex; justify-content:space-between; align-items:left;align-items:center;")
			h3.w3-padding-16(style="flex-grow:1; font-weight: 600 !important;") #{street.nome}
			if(user.role=="admin")
				a.w3-button.w3-black.w3-round(style="margin-right:12px;", href="/ruas/edit/"+street._id)= "Editar"
				.w3-button.w3-black.w3-round(onclick=`showConfirm(${JSON.stringify({nome:street.nome,id:street._id})});`)= "Eliminar"

		.w3-row-padding
			.l3.m6.w3-margin-bottom
				
				// Fotos Antigas
				.w3-row-padding
					- var i = 0
					each pastimage in street.figura
						- i++
						.w3-col.l6.w3-margin-bottom
						.w3-display-container
							if i == 1
								.w3-display-topleft.w3-black.w3-padding.w3-round.w3-border Antigamente
							img.w3-round.w3-border(src="/images/dados/materialBase/"+ pastimage.path alt="House" style="width:100%;object-fit: cover;")
				br
				br

				// Lista de Casas
				.w3-container.w3-padding-32.w3-light-grey.w3-round.w3-border(style="margin-left:10px;margin-right:10px;")
					//h3(style="font-weight: 600 !important;") Lista de Casas da #{street.nome}:
					h3(style="font-weight: 600 !important;") Lista de Casas:
					table.w3-table-all
						thead 
							tr.w3-brown
								th Número
								th Enfiteuta
								th Foro
								th Descrição
							each house in street.listacasas
								tr
									if house.número
										td=house.número
									else 
										td="NA"
									if house.enfiteuta
										td=house.enfiteuta
									else 
										td="NA"
									if house.foro
										td=house.foro
									else 
										td="NA"
									td
										if house.desc && house.desc.para
											button(onclick=`showDesc(${JSON.stringify(house.desc.para)});`)= "Descrição"
										else
											button(onclick=`showDesc(${JSON.stringify(null)});`)= "Descrição"
			br

			// Fotos Atuais
			.l3.m6.w3-margin-bottom
				.w3-row-padding
					- var i = 0
					each atual in street.figurasAtuais
						- i++
						.w3-col.l6.w3-margin-bottom
						.w3-display-container
							if i == 1
								.w3-display-topleft.w3-black.w3-padding.w3-round.w3-border Atualmente
							img.w3-round.w3-border(src="/images/dados/materialBase/atual/"+ atual.nome alt="House" style="width:100%;min-height:600px;object-fit: cover;")

				br
				br

				// Lugares Relacionados e Curiosidades
				if street.para
					.w3-container.w3-padding-32.w3-light-grey.w3-round.w3-border(style="margin-left:8px;margin-right:8px;")
						h3(style="font-weight: 600 !important;") Lugares Relacionados e Curiosidades:
						each to in street.para
							if to
								p !{to.text}
						br
						h4(style="font-weight: 600 !important;") Índice por Lugares:
						each rel in relacionados.lugares
							li 
								a(href="/ruas/"+rel.id) #{rel.nome} 
								|  (lugar: #{rel.atributo})
						br
						h4(style="font-weight: 600 !important;") Índice por Datas:
						each rel in relacionados.data
							li 
								a(href="/ruas/"+rel.id) #{rel.nome} 
								|  (data: #{rel.atributo})
						br
						h4(style="font-weight: 600 !important;") Índice por Entidades:
						each rel in relacionados.entidades
							li 
								a(href="/ruas/"+rel.id) #{rel.nome}
								|  (#{rel.atributo.tipo}: #{rel.atributo.text})

		
		// Comentários
		.w3-container.w3-padding-32.w3-round.w3-border(style="margin-left:15px;margin-right:15px;")

			// Lista de Comentários
			.w3-container(style="padding-left:8px; padding-right:8px;")
				ul.w3-ul(id="commentList")

			// Novos Comentários
			form.w3-container(style="padding-left:8px; padding-right:8px;" id="commentForm", autocomplete="off")
				fieldset.w3-container.w3-margin
					legend(style="font-weight: 600 !important;") Novo Comentário
					br
					.w3-container(style="float: none; width: auto; height: 100%; overflow: hidden; display:flex; justify-content:center; align-items:center;")
						image.w3-left(style="width: 30px; height:30px; border-radius: 50%; margin-right:14px;", src="/images/imagensdeperfil/"+user.myphoto)
						input(type='w3-input w3-round' id="commentText" name='nome' style="width: 85%;height: 100%;")
					br
					input.w3-btn.w3-black.w3-mb-2.w3-round(type='button' id="addComment" value="Postar" style="margin-bottom:10px; display:block; margin: 0 auto;")
					br

					// Para passar os valores do user que fez o comentario ao fazer o post em jquery
					input(type='hidden' id="buttonvalue" value=user.username+";"+user.myphoto)
					input(type='hidden' id="envvarbutton" value=envvar)
		br
	footer.w3-center.w3-black.w3-padding-16.w3-container(style="margin-top: auto; width:100%;")
		a(href="/creditos") Créditos
		p ©2023 All Rights Reserved
