extends layout

block content
	.modal(id="modaldesc")
	.w3-top
		.w3-bar.w3-black.w3-card(style="height:100%;")
			p.w3-bar-item.w3-padding-large(style="font-size:16px;") BRAGA STREET VIEW
			p
				a.w3-bar-item.w3-button.w3-padding-large(href="/ruas" ) HOME
			p
				a.w3-bar-item.w3-button.w3-padding-large(href="/") LOGIN
			p(style="display:flex;justify-content:flex-end;margin-right:30px;")
				a.w3-bar-item.w3-button.w3-padding-large(href="/logout") LOGOUT
				img(style="border-radius: 50%;width:45px;height:45px;margin-left:10px;", src="/profilepictures/" + user.profilepicture)
	
	header.w3-display-container.w3-content.w3-wide(style="height: 50px;", id="home")

	.w3-content.w3-padding(style="max-width:1564px")
		.w3-container.w3-padding-32(id="rua" style="display:flex; justify-content:space-between; align-items:left;align-items:center;")
			h3.w3-border-bottom.w3-border-light-grey.w3-padding-16(style="flex-grow:1") #{street.nome}
			a.w3-button.w3-black(href="/delete/"+street._id) Delete


		.w3-row-padding

			.l3.m6.w3-margin-bottom
				.w3-row-padding
					each pastimage in street.figura
						.w3-col.l6.w3-margin-bottom
						.w3-display-container
							.w3-display-topleft.w3-black.w3-padding Antigamente
							img(src="/images/dados/materialBase/"+ pastimage.path alt="House" style="width:100%;object-fit: cover;")
				.w3-container.w3-padding-32.w3-grey.w3-round(style="margin-left:10px;margin-right:10px;")
					h4 Lista de Casas da rua: #{street.nome}
					table.w3-table-all
						thead 
							tr.w3-brown
								th Número
								th Enfiteuta
								th Foro
								th Descrição
							each house in street.listacasas
								tr
									if house.número
										td=house.número
									else 
										td="NA"
									if house.enfiteuta
										td=house.enfiteuta
									else 
										td="NA"
									if house.foro
										td=house.foro
									else 
										td="NA"
									td
										if house.desc.para
											button(onclick=`showDesc(${JSON.stringify(house.desc.para)});`)= "Descrição"
										else
											button(onclick=`showDesc(${JSON.stringify(null)});`)= "Descrição"


			.l3.m6.w3-margin-bottom

				.w3-row-padding

					.w3-col.l6.w3-margin-bottom
					.w3-display-container
						.w3-display-topleft.w3-black.w3-padding Agora
						img(src="/images/dados/materialBase/atual/"+ street.nome +"-Vista1.JPG" alt="House" style="width:100%;height:600px;object-fit: cover;")

					.w3-col.l6.w3-margin-bottom
					.w3-display-container
						.w3-display-topleft.w3-black.w3-padding Agora
						img(src="/images/dados/materialBase/atual/"+ street.nome +"-Vista2.JPG" alt="House" style="width:100%;height:600px;object-fit: cover;")

				if street.para
					.w3-container.w3-padding-32.w3-light-grey.w3-round(style="margin-left:16px;margin-right:16px;")
						h3 Lugares relacionados e curiosidades:
						each to in street.para
							if to
								p !{to.text}
						h4 índice por Lugares
						each rel in relacionados.lugares
							li 
								a(href="/ruas/"+rel.id) #{rel.nome} 
								|  (lugar: #{rel.atributo})
						h4 índice por Datas
						each rel in relacionados.data
							li 
								a(href="/ruas/"+rel.id) #{rel.nome} 
								|  (data: #{rel.atributo})
						h4 índice por Entidades
						each rel in relacionados.entidades
							li 
								a(href="/ruas/"+rel.id) #{rel.nome}
								|  (#{rel.atributo.tipo}: #{rel.atributo.text})
								
									
								

	footer.w3-center.w3-black.w3-padding-16.w3-container(style="margin-top: auto; width:100%;")
		p Made by Group XX - EngWeb2023
		p ©2023 All Rights Reserved


